/* Global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  margin-top: 100px;
  border-bottom: 1px solid #f4f4f4;
}

.form-wrapper h2{
  font-size: 50px;
  font-weight: 500;
  color: black;
  text-align: center;

}

p {
  margin-top: 20px;
  text-align: center;
}

textarea {
  padding: 10px 107px;
  text-align: center;
}

.btn {

  background: #4c5bdd;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  line-height: 40px;
  width: 100%;
  margin: 10px 0;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition-property: background;
  transition-duration: 200ms;
  transition-timing-function: linear;
}