* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



  html {
    font-family: sans-serif;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
  }
  section {
    border-bottom: 1px solid white;
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
  }

  .home-image {
    text-align: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .home-container {
    background-image: url('../../images/model-s.jpeg');
  }
  
  .home-container2 {
    background-image: url('../../images/model-y.jpeg');
  }
  
  .home-container3 {
    background-image: url('../../images/model-3.jpeg');
    display: flex;
    flex-direction: column;
  }

  .last-container {
    flex: 1;
  }

